#arrowTop {
    height: 50px;
    width: 50px;
    color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 100;
    transition: 1s;
    border-radius:50%;
    background-color:#255D22;
    text-align:center;
    line-height:50px;
}

#arrowTop > span {
    display: none;
    /* z-index: 100000000; */
}

#arrowTop:hover {
    width:150px;
    border-radius:25px;
}

#arrowTop:hover > span {
    display: inline;
}